<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your listings</h3>
    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label for="title" class="form-lable">Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good.</div>
        <div class="invalid-feedback">Please enter a title.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-lable">Description</label>
        <textarea name="listing[description]" class="form-control" required>
<%= listing.description %></textarea
        >
        <div class="valid-feedback">Looks good.</div>
        <div class="invalid-feedback">Please enter a short description.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-lable">Image link</label>
        <input
          type="text"
          name="listing[image]"
          value="<%= listing.image %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good.</div>
        <div class="invalid-feedback">Please enter a valid link.</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-lable">Price</label>
          <input
            name="listing[price]"
            value="<%= listing.price %>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good.</div>
          <div class="invalid-feedback">Please enter a valid price.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-lable">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= listing.country %>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good.</div>
          <div class="invalid-feedback">Please enter a Country.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-lable">Location</label>
        <input
          type="text"
          name="listing[location]"
          value="<%= listing.location %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good.</div>
        <div class="invalid-feedback">Please enter a Locarion.</div>
      </div>
      <button class="btn btn-dark edit-btn mb-3">Edit</button>
    </form>
  </div>
</div>
